@model IEnumerable<MvcFlashCards.Models.FlashCard>

@{
    ViewData["Title"] = "List";
}
<div class="container">
<div class="row">
    <div class="col-md-4"><h1>Meus FlashCards</h1></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="List">
            <label><h3>Categorias</h3></label><br />
            <input style="padding:5px" class="input" type="text" name="searchString" />
            <input style="margin-bottom:5px" type="submit" asp-action="List" class="btn btn-dark" value="Pesquisar" />
        </form>
    </div>
</div>



<p>
    
    <a asp-action="Create">Novo FlashCard</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MsgFrente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MsgVerso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>*@
        <br />
        <div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Categoria)</div>
                <div class="card-body text-dark">
                    <span style="font-size: 18px" class="card-title">@Html.DisplayFor(modelItem => item.MsgFrente)</span>
                    <div href="#" style="padding: 10px; font-size: 15px" class="card-text resposta">@Html.DisplayFor(modelItem => item.MsgVerso)</div> <br>
                    <a asp-action="Edit" asp-route-id="@item.FlashCardId"><img/>Editar</a> <br>
                    <a asp-action="Delete" asp-route-id="@item.FlashCardId"><img/>Deletar</a> 
                </div>
            </div>
        </div>
        



                //@Html.DisplayFor(modelItem => item.Usuario.UsuarioId)


        @*<a asp-action="Edit" asp-route-id="@item.FlashCardId">Edit</a>
    <a asp-action="Delete" asp-route-id=@item.FlashCardId>Delete</a>*@

    }
</div>
</div>
@* </tbody>
    </table>*@
